<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PhotoApp</title>
</head>
<body>
    <header>
        <div class="logo">Logo of PhotoApp</div>
        <nav>
            <ul class="menu">
                <li><a href="/posts/index/">All Posts</a></li>
                <li><a href="/posts/upload/">Upload New</a></li>
            </ul>
        </nav>
    </header>
    <section class="main_container">
        <%- body -%>
    </section>
</body>
</html>